@use 'config';

.u {
	&-visuallyHidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	&-hidden {
		display: none;
	}

	&-container {
		width: 100%;
		max-width: config.breakpoint(xlarge);
		margin: 0 auto;
		padding: 0 16px;
	}
}